.composable-grid {
    overflow: hidden;
    position: relative;
    overflow-x: scroll;
    width: 100%;
}
.composable-grid-rowgroup {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.composable-grid-row {
    white-space: nowrap;
    margin-right: 10px;
}

.composable-grid-column {
    overflow: hidden;
    position: relative;
    background: white;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    height: 100%;
}
